* {
    color: #333;
    font-family: 'Kokoro', sans-serif;
    line-height: normal;
}

    /*--- NAVIGATION ---*/

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #748386;
    transition: background-color 0.3s ease;
    letter-spacing: 2px;
  }
  
  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.25rem 0.25rem;
    max-width: var(--max-width);
    margin: auto;
  }
  .nav-logo{
    display: flex;
    align-items: left;
    justify-content: left;
    list-style: none;
    height: 25px;
  }

  .nav-logo img{
    position: absolute;
    top: 10px;
    height: 100px;
    width: auto;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  
  
.nav-menu a {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: #333;
      transition: 0.3s;
  }

.nav-menu a:hover{
    margin:5px;
    font-size: 22px; 
    text-decoration: underline;
    text-decoration-color: #a8b1b3;
}
  
  .nav-scroll {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

    /*--- ABOUT ME ---*/

#about-me{
    margin-top: 120px;
  }

#about-me h2 {
    font-family: 'Kokoro', sans-serif;
    font-size: 30px;
    color: #333;
    letter-spacing: 1px;
    margin-top: 175px;
    margin-left: 170px; 
}

#about-me .content{
    padding-top: 6px;
    display: flex;
    flex-direction: row;
}

#about-me .text {
    flex: 1;
    margin-right: 20px;
}
#about-me .text p {
    margin-left: 30px;
    font-size: 18px;
    text-align:justify;
}

#about-me .content img {
    position: relative;

    width: auto;
    height: 400px;
    border-radius: 100px;
    margin-right: 20px;
}


/*--- My skills ---*/
#my-skills {
    padding-top: 1dvh;
    background-color: #748386;
}

#my-skills h2{
    font-family: 'Kokoro', sans-serif;
    font-size: 30px;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
}

#my-skills .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-skills .content img{
    height: 200px;
    width: auto;
}