* {
    font-family: 'Kokoro', sans-serif;
    padding-right: 0;
    margin-right:0;
    padding-left: 0;
    margin-left:0;

}

html {
  scroll-behavior: smooth;
}

section#about-me {
  scroll-margin-top: 100px;
}

section#my-skills {
  scroll-margin-top: 80px; 
}

section#my-projects {
  scroll-margin-top: 10px; 
}

section#contact {
  scroll-margin-top: 10px; 
}

.scroll-target {
  scroll-margin-top: 10px; 
}


    /*--- NAVIGATION ---*/

  #nav {
    color:#333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    letter-spacing: 2px;
    background-color: rgba(116, 131, 134, 0.95);
    backdrop-filter: blur(10px);
    height: 75px;
  }
  #nav.transparent {
    background-color: rgba(116, 131, 134, 0.8);
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: background-color 0.3s ease;
  }

  .nav-logo{
    display: flex;
    align-items: left;
    justify-content: left;
    list-style: none;

  }

  .nav-logo img{
    position: absolute;
    left: 2.5rem;
    bottom: 10px;
    height: 90px;
    width: auto;
  }

  .nav-logo img:hover{
    transition: 0.3s;
    height: 95px;
    width: auto;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-right: 2.5rem;
  }
  
  
.nav-menu a {
      padding-right: 1.25rem;
      text-decoration: none;
      font-size: 1.75rem;
      font-weight: 400;
      color: #333;
      transition: 0.3s;
  }

.nav-menu a:hover{
    font-size: 2rem; 
    text-decoration: underline;
    text-decoration-color: #a8b1b3;
}
  
    /*--- ABOUT ME ---*/

#about-me {
  color:#333;
  padding-top: 10.5rem;
} 

#about-me h2 {
  margin-left: 10rem;
  margin-bottom: 2.5rem;
  font-family: 'Kokoro', sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #748386;
}

#about-me .content{
  display: flex;
  flex-direction: row;
}

#about-me .text {
  flex: 1;
  margin-right: 25rem;
}

#about-me .text p {
  margin-left: 10rem;
  font-size: 1.6rem;
  text-align:justify;
}

#about-me .content img {
  position: relative;
  bottom: 2.5rem;
  width: auto;
  height: 600px;
  border-radius: 10px;
  right: 10rem;
  box-shadow: 0 6px 10px #748386;
}

#about-me .plant-img{
  position: absolute;
  left: -2rem;
  top: 0;
  transform: rotate(140deg);
  height: 300px;
  width: auto;
  z-index: 1;
}

#about-me .plant-img2{
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(145deg);
  height: 300px;
  width: auto;
  z-index: -1;
}



/*--- My skills ---*/
#my-skills {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(116, 131, 134, 0.7);
    max-width: 100%;
}

#my-skills h2{
    font-family: 'Kokoro', sans-serif;
    font-size: 2.5rem;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #748386;
    font-weight: 400;
    margin-bottom: 50px;
}

#my-skills .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#my-skills .row{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#my-skills .row img{
    height: 250px;
    width: auto;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#my-skills img {
  animation: shake 0.5s ease-in-out;
}
#my-skills img:hover {
  animation: shake 0.5s ease-in-out infinite;
}

/*--- My projects ---*/

#my-projects {
  padding-top: 1.5rem;
}

#my-projects h2 {
  font-family: 'Kokoro', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #748386;
  margin-bottom: 50px;
}

#my-projects .projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#my-projects .projects h4 {
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
  color: #333;
  margin-top: 10px;
}

#my-projects .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#my-projects .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 2rem; 
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
  max-width: 80%;
  text-align: justify;
  background-color: rgba(116, 131, 134, 0.5);
  padding: 400px;

}

#my-projects .text h4{
  color: #fff;
}

#my-projects .image-container:hover .text {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

#my-projects .image-container img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  transition: filter 0.2s; 
}

#my-projects .image-container:hover img {
  filter: blur(3.5px);
}

/*--- CV ---*/
#cv {
  background-color: rgba(116, 131, 134, 0.3);
}
.cv-head h2{
  padding-top: 2.5rem;
  font-family: 'Kokoro', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #748386;
  margin-bottom: -2rem;
}
#cv a{
  font-family: 'Kokoro', sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
}

.cv-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75rem;
}


.cv-container {
  position: relative;
  width: 39%;
  height: auto;
  padding-top: 55%;
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.8);
  will-change: transform;
  border-radius: 10px;
}

.cv-container iframe {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

#cv .cv-plant{
  position: absolute;
  bottom: -140rem;
  width: auto;
  height: 800px;
  z-index: -1;
  transform: rotate(300deg);
  left:23rem;
}

#cv .cv-flower{
  position: absolute;
  bottom: -120rem;
  width: auto;
  height: 800px;
  z-index: -1;
  transform: rotate(30deg);
  right:14rem;
}
/*--- Contact ---*/

#contact h2{
  padding-top: 1.5rem;
  font-family: 'Kokoro', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #748386;
}

#contact h4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kokoro', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}


#contact .fa-solid.fa-envelope{
  color: #748386;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: -1.25rem;
}

#contact .fa-solid.fa-phone{
  color: #748386;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: -1.25rem;
}


#contact .contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: 2.5rem;
  gap: 1.5rem;
}

#contact .contact-info img{
  width: auto;
  height: 65px;
}

#contact .contact-flower{
  position:absolute;
  height: 400px;
  width: auto;
  bottom: -165rem;
  right: 5rem;
}

#contact .contact-plant{
  position:absolute;
  height: 400px;
  width: auto;
  bottom: -158.7rem;
  left: 1rem;
  transform: rotate(180deg);
}

#contact h3{
  font-family: 'Kokoro', sans-serif;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
}



